# Virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so

# Test files
# testing/

# Environment variables
.env

# Results directories
gene_enrichment_analysis_results/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db db_embeddings.pkl
*.pkl
*.gaf
